@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mr White's Laundry Booker</h1>
</div>

<div class="row" ng-app="LaundryBooker">
    <div class="col-md-6" ng-controller="calendarCtrl">
        <calendar selected="day" bookings="bookings" ></calendar>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/app/app.js")
    @Scripts.Render("~/Scripts/app/calendar.js")
    @Scripts.Render("~/Scripts/app/calendarCtrl.js")
}